---
import Section from "./Section.astro"
---

<Section
  title='Carga'
  subtitle=''
  color="white"
>
  <div slot="footer" class="gap-x-6 flex mx-auto">
    <a class="border-[3px] border-gray-600 bg-gray-600 text-sm rounded font-medium text-white px-12 py-2 inline-block transition-colors hover:bg-gray-500 hover:border-gray-500"  href="#">
      Explorar inventario
    </a>
    <a class="border-[3px] border-white bg-white text-sm rounded font-medium text-black px-12 py-2 transition-colors hover:bg-black hover:text-white inline-flex justify-center items-center hover:border-black" href="#">
      Pedido personalizado
    </a>
  </div>

  <img slot="background" src='/carga.avif' alt='Model Y' class='h-full w-full object-cover object-center' />

</Section>
